body{
    background-color:rgba(102, 102, 235, 0.205)
}
img{
    width: 15rem;
}
#primeraParte{
    display: flex;
    justify-content: center;
    

}
.datosPrincipales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
}
.imagenPerfil{
    margin-right: 150px;
}
.datosPrincipales h1{
    font-size: 30px;
}
.datosPrincipales h3{
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.datosPrincipales h3 span{
    text-transform: none;
    text-decoration: none;
}
.estudios{
    display: flex;
    justify-content: space-around;
    border: solid red 1px;
    padding: 5px;
    padding-left: 15px;
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(14, 173, 201, 0.541), rgba(255, 255, 255, 0.555));
}
.sobreMi{
    display: flex;
    justify-content: space-around;
    border: dashed black 1px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, rgba(14, 173, 201, 0.541), rgba(255, 255, 255, 0.555));
}
.sobreMi a:hover{
    color: red;
}
.imagenPerfil{
    border: solid rgba(128, 128, 128, 0.589) 1px;
    box-shadow: 2px 2px 50px 5px;
}
.imagenPerfil img{
    height: 100%;
}